body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ffffff;
}

.content {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

.img-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 200px;
    border-radius: 10px;
}

img {
    width: 2000px;
    height: 400px;
}